* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

header {
    padding: 0 20px;
    width: 100%;
    height: 70px;
    background: white;
    border-bottom: 1px solid #efefef;
}

.header-left, .header-right {
    float: left;
    height: 100%;
}

/* parte sinistra dell'header, per il logo */
.header-left {
    width: 20%;
}

/* parte destra dell'header, per i menu */
.header-right {
    width: 80%;
}

/* logo */
.header-left img {
    height: 40px;
    margin-top: 15px;
}

/* l'icona hamburger */
.header-right>a {
    display: none;
}

/* lista che costituisce il menu in linea */
.header-right ul {
    list-style: none;
    height: 100%;
    text-align: right;
}

/* elementi della lista in linea, quindi affiancati */
.header-right ul li {
    display: inline-block;
    margin: 0 20px;
    line-height: 70px;
    height: 100%;
}

/* singole voci del menu in linea */
.header-right ul li a {
    color: #565A5C;
    text-decoration: none;
}

/* cta link, (ultima voce del menu in linea) */
.header-right ul li a.cta {
    padding: 10px 20px;
    color: white;
    background: #E78D5C;
}

/* contenitore del menu in verticale che appare al click sull'hamburger */
.hamburger-menu {
    position: absolute;
    top: 0;
    right: 0%;
    display: none;
    padding: 20px;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background: #2B3F58;
}

/* lista del menu in verticale */
.hamburger-menu ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
}

/* singole voci della lista del menu in verticale */
.hamburger-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border-bottom: 2px solid white;
}

/* l'icona "X" */
.close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 35px;
    text-decoration: none;
}

/* per device dai 1000px in giù */
@media screen and (max-width: 1000px) {

    /* il menu in-line scompare */
    .header-right ul {
        display: none;
    }

    /* l'iconcina dell'hamburger */
    .header-right>a {
        display: block;
        height: 100%;
        line-height: 70px;
        float: right;
        color: lightgrey;
        font-size: 20px;
    }

    .hamburger-menu.active {
        display: block;
    }

    .hamburger-menu.inside {
        /* sposto il menu tutto a sinistra */
        /* poi con l'animazione muovo il menu, che si trova nascosto tutto a sinistra */
        /* e lo sposto verso destra in modo  da farlo entrare in scena */
        right: 100%;
        animation: 1s ease-out inFromLeft forwards;
    }

    .hamburger-menu.outside {
        /* sposto il menu verso sinistra per farlo scomparire */
        animation: 1s ease-out outToLeft forwards;
    }
}

@keyframes inFromLeft {
    100% {
        right: 0%;
    }
}

@keyframes outToLeft {
    0% {
        right: 0%;
    }

    100% {
        right: 100%;
    }
}